    body {
        margin: auto 0;
        background-image: url(/images/cryptocurrency-coding-digital-blue-background-open-source-blockchain-concept.jpg);
        background-repeat: no-repeat;
    }
    
    header {
        margin: auto;
        background-image: url(/images/gradient-navy-blue-digital-grid-wallpaper.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: sticky;
        top: 0;
    }
    
    .logo-nav-search {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    input[type=search] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background: #f2f2f2 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
        border: solid 2px rgb(255, 255, 255);
        padding: 9px 10px 9px 32px;
        width: 155px;
        border-radius: 20px;
        transition: all .7s;
    }
    
    input[type=search]:focus {
        width: 300px;
        background-color: rgb(219, 246, 255);
        border-color: rgb(0, 0, 0);
    }
    
    ul {
        padding: 0;
        margin: auto;
        width: 100%;
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    ul li {
        list-style: none;
    }
    
    ul li a {
        padding: 20px;
        font-family: 'Recursive', sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgb(254, 254, 254);
        text-decoration: none;
    }
    
    ul li a:hover {
        color: rgb(242, 157, 10);
    }
    
    .title {
        margin: auto;
        width: 75%;
    }
    
    h1 {
        margin: auto;
        margin-top: 1%;
        background-color: rgb(91, 172, 201);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(254, 254, 254);
        font-size: 60px;
        font-family: 'Maven Pro', sans-serif;
        width: 100%;
        height: 100px;
    }
    
    span {
        color: rgb(230, 191, 62);
    }
    
    .container-principal {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 75%;
    }
    
    .live-banniere {
        margin-top: 0px;
    }
    
    h3 {
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-bottom: 2px;
        margin-bottom: 5px;
        font-family: 'Recursive', sans-serif;
        border-top: 5px solid rgb(143, 183, 197);
    }
    
    .container-article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .left-article {
        width: 78%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .right-article {
        display: flex;
        justify-content: right;
        width: 22%;
        flex-wrap: wrap;
    }
    
    .article {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    
    .article:hover {
        border: 4px solid rgb(250, 201, 4);
        cursor: pointer;
    }
    
    .image1 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/rapport-assemblee-nationale-difficultes-secteur-actifs-numeriques-france.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text1 {
        height: 50%;
    }
    
    .text1 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    
    .image2 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/dominance-bitcoin-chute-altcoins.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text2 {
        height: 50%;
    }
    
    .text2 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    
    .image3 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/marque-luxe-balmain-initiatives-nfts-1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text3 {
        height: 50%;
    }
    
    .text3 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    
    .image4 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/rapport-assemblee-nationale-difficultes-secteur-actifs-numeriques-france.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text4 {
        height: 50%;
    }
    
    .text4 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    
    .image5 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/rapport-assemblee-nationale-difficultes-secteur-actifs-numeriques-france.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text5 {
        height: 50%;
    }
    
    .text5 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    
    .image6 {
        border-radius: 5px;
        background-image: url(https://cryptoast.fr/wp-content/uploads/2021/12/rapport-assemblee-nationale-difficultes-secteur-actifs-numeriques-france.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    .text6 {
        height: 50%;
    }
    
    .text6 p {
        font-size: 20px;
        color: black;
        font-family: 'Recursive', sans-serif;
        padding-left: 10px;
    }
    /******************** PAGE 2 CRYPTOMONNAIES *********************/
    
    .container-crypto {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(91, 172, 201, 0.461);
        border-radius: 20px;
    }
    
    .title-crypto img {
        display: block;
        padding-top: 10px;
        margin: auto;
    }
    
    h2 {
        font-size: 20px;
        color: rgb(42, 138, 173);
        border-bottom: 2px solid rgb(180, 189, 192);
        text-align: center;
    }
    
    .bitcoin {
        margin: 2% 10% 0% 10%;
        background-color: white;
        border-radius: 20px;
    }
    
    .ethereum {
        margin: 2% 10% 0% 10%;
        background-color: white;
        border-radius: 20px;
    }
    
    .chainlink {
        margin: 2% 10% 0% 10%;
        background-color: white;
        border-radius: 20px;
    }
    
    .dogecoin {
        margin: 2% 10% 2% 10%;
        background-color: white;
        border-radius: 20px;
    }
    
    .bitcoin p {
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
        margin: 0% 5% 2% 5%;
        text-align: justify;
    }
    
    .ethereum p {
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
        margin: 0% 5% 2% 5%;
        text-align: justify;
    }
    
    .chainlink p {
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
        margin: 0% 5% 2% 5%;
        text-align: justify;
    }
    
    .dogecoin p {
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
        margin: 0% 5% 2% 5%;
        text-align: justify;
    }
    /******************** PAGE 3 ACHAT BITCOIN FORMULAIRE *********************/
    
    .container-buycrypto {
        margin-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(91, 172, 201, 0.461);
        border-radius: 20px;
    }
    
    .card {
        border: 2px solid rgb(250, 201, 4);
        margin: 2% 10% 2% 10%;
        border-radius: 20px;
        background: white;
        box-shadow: 4px 3px 20px #3535358c;
        display: flex;
        flex-direction: row;
    }
    
    .leftcard {
        background-color: rgb(238, 193, 10);
        width: 450px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .rightscard {
        background-color: #ffffff;
        width: 550px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px 20px 30px 30px;
    }
    
    .rightscard p {
        display: block;
        font-size: 15px;
        font-weight: 300;
        margin: 5px 0px;
        font-family: 'Dosis', sans-serif;
    }
    
    h4 {
        margin: 0 0 20px 0;
        color: rgb(238, 193, 10);
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
    }
    
    h5 {
        margin: 0 0 10px 0;
        color: rgb(131, 131, 131);
        font-size: 15px;
        font-family: 'Dosis', sans-serif;
    }
    
    .inputbox {
        color: #030303;
        width: 100%;
        border: 2px solid rgb(242, 242, 242);
        padding: 3px;
        border-bottom: 2px solid rgb(223, 223, 223);
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        color: #615a5a;
        font-size: 15px;
        outline: none;
        border-radius: 10px;
    }
    
    .expiration-ccv p {
        display: block;
        font-size: 15px;
        margin: 10px;
    }
    
    .expiration-ccv {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    
    .expcvv_text {
        padding-right: 15px;
    }
    
    .expcvv_text2 {
        padding: 0 10px;
    }
    
    .button {
        background-color: rgb(91, 172, 201);
        padding: 15px;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 10px;
        width: 100%;
        letter-spacing: .11rem;
        outline: none;
    }
    
    .button:hover {
        transform: scale(1.05) translateY(-3px);
        box-shadow: 3px 3px 6px #38373785;
    }
    
    @media only screen and (max-width: 1200px) {
        .card {
            flex-direction: column;
            width: auto;
        }
        .leftcard {
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-radius: 0;
        }
        .rightscard {
            width: auto;
            border-bottom-left-radius: 1.5rem;
            padding: 0.5rem 3rem 3rem 2rem;
            border-radius: 0;
        }
    }
    /*********************** PAGE 4 VIDEOS ********************/
    
    .container-video-input {
        margin-top: 1%;
        display: grid;
        grid-template-rows: 500px 60px;
        grid-template-columns: 1fr 50px 50px 50px 50px 50px 1fr;
        align-items: center;
        justify-items: center;
        background-color: rgba(91, 172, 201, 0.461);
        border-radius: 20px;
    }
    
    #carousel {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 700px;
        --items: 5;
        --middle: 3;
        --position: 1;
        pointer-events: none;
    }
    
    .item:hover {
        transform: scale(1.2) translateY(-3px);
    }
    
    .item {
        border: 5px solid rgb(250, 201, 4);
        border-radius: 5px;
        position: absolute;
        width: 560px;
        height: 315px;
        --r: calc(var(--position) - var(--offset));
        --abs: max(calc(var(--r) * -1), var(--r));
        transition: all 0.45s linear;
        transform: rotateY(calc(-8deg * var(--r))) translateX(calc(-300px * var(--r)));
        z-index: calc((var(--position) - var(--abs)));
        pointer-events: all;
    }
    
    .item:nth-of-type(1) {
        --offset: 1;
    }
    
    .item:nth-of-type(2) {
        --offset: 2;
    }
    
    .item:nth-of-type(3) {
        --offset: 3;
    }
    
    .item:nth-of-type(4) {
        --offset: 4;
    }
    
    .item:nth-of-type(5) {
        --offset: 5;
    }
    
    input[type="radio"] {
        width: 2.15em;
        height: 2.15em;
        font-size: 17px;
    }
    
    input:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    input:nth-of-type(1):checked~#carousel {
        --position: 1;
    }
    
    input:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    input:nth-of-type(2):checked~#carousel {
        --position: 2;
    }
    
    input:nth-of-type(3) {
        grid-column: 4 /5;
        grid-row: 2 / 3;
    }
    
    input:nth-of-type(3):checked~#carousel {
        --position: 3;
    }
    
    input:nth-of-type(4) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
    
    input:nth-of-type(4):checked~#carousel {
        --position: 4;
    }
    
    input:nth-of-type(5) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
    }
    
    input:nth-of-type(5):checked~#carousel {
        --position: 5;
    }
    
    @media only screen and (max-width: 700px) {
        .title {
            display: none;
        }
        .searchbar {
            display: none;
        }
        .container-principal {
            width: 98%;
        }
        .right-article {
            display: none;
        }
        .left-article {
            justify-content: space-around;
            width: 100%;
        }
        .article {
            width: 300px;
        }
    }